@using DocViewer.Presentation.Models.Docs;
@model DocsViewModel

@foreach (var doc in Model.Docs)
{
    <tr class="clickable-row" data-doc-id="@doc.DocId">
        <td>@doc.DocId</td>
        <td>@doc.Category</td>
        <td>@doc.Title</td>
        <td>@doc.Author</td>
        <td>@doc.FormatDateTime</td>
    </tr>
}