@using DocViewer.Presentation.Models.Docs;
@model DocsViewModel
@{
    var currentSort = Model.Sort;
    var currentFilter = Model.Filter; ;
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        @foreach (var category in Model.Board.Categories)
        {
            <a href="?filter=@category&sort=@currentSort" class="btn @(currentSort == @category
                                                                ? "btn-primary"
                                                                : "btn-light")">@category</a>
        }
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><a href="?sort=@(Model.Sort == "DocId" ? "id_desc" : "DocId")&filter=@currentFilter">Doc Id</a></th>
                <th><a href="?sort=@(Model.Sort == "Category" ? "category_desc" : "Category")&filter=@currentFilter">Category</a></th>
                <th><a href="?sort=@(Model.Sort == "Title" ? "title_desc" : "Title")&filter=@currentFilter">Title</a></th>
                <th><a href="?sort=@(Model.Sort == "Author" ? "author_desc" : "Author")&filter=@currentFilter">Author</a></th>
                <th><a href="?sort=@(Model.Sort == "DateTime" ? "datetime_desc" : "DateTime")&filter=@currentFilter">DateTime</a></th>
            </tr>
        </thead>
        <tbody>
            <div id="doc-list-container">
                @foreach (var doc in Model.Board.Docs)
                {
                    <tr class="clickable-row" data-doc-id="@doc.DocId">
                        <td>@doc.DocId</td>
                        <td>@doc.Category</td>
                        <td>@doc.Title</td>
                        <td>@doc.Author</td>
                        <td>@doc.DateTime</td>
                    </tr>
                }
            </div>
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var rows = document.querySelectorAll(".clickable-row");
        rows.forEach(function (row) {
            row.addEventListener("click", function () {
                var docId = this.getAttribute('data-doc-id');
                window.location.href = '@Url.Action("Doc", "Docs")/' + docId
            });
        });
    });
</script>